@font-face {
	font-family: 'Gotham Rounded Medium';
	font-style: normal;
	src: url('./gotham-rounded/GothamRoundedMedium_21022.ttf');
}

.ant-select-selection--multiple {
	min-height: 200px !important;
	border-radius: 15px !important;
	padding: 5px;
}

.ant-select-selection .ant-select-selection--multiple {
	padding-bottom: 5px;
}

.ant-radio-button-wrapper:first-child {
	border-radius: 35px 0px 0px 35px !important;
}
.ant-radio-button-wrapper:last-child {
	border-radius: 0px 35px 35px 0px !important;
}

.ant-statistic-content {
	font-family: 'Gotham Rounded Medium';
}
